[Unit]
Description=Run generate-index.service everyday at 5:00 a.m

[Timer]
OnCalendar=*-*-* 5:00:00
Persistent=true

[Install]
WantedBy=timer.target
